@import "tailwindcss";

@theme {
  --color-primary: #13ec6d;
  --color-background-light: #f6f8f7;
  --color-background-dark: #102218;

  --font-display: var(--font-inter);
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display;
  }
}
